.message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px;
  max-width: 50%;
}

.other-user-message {
  background-color: lightgrey;
}

.my-message {
  background-color: lightblue;
}

#message-div {
  border: 2px solid lightgrey;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 400px;
  overflow: scroll;
}

.chatroom-index {
  border: 2px solid #007AFF;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
